 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: 'Poppins', sans-serif;
     background-color: var(--white);
     color: var(--text-main);
 }
/* contact section start */
 .contact-section {
     background: var(--white);
     color: var(--text-main);
 }

 .contact-header {
     position: relative;
     height: 450px;
     background: linear-gradient(var(--dark-overlay), var(--dark-overlay)),
         url('./Assets/img/reseption.jpg');
     background-size: cover;
     background-position: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     color: var(--white);
     padding: 0 20px;
 }

 .contact-header h2 {
     color: var(--soft-brown);
     font-size: 48px;
     text-transform: uppercase;
     letter-spacing: 3px;
     font-family: 'Playfair Display', serif;
     margin-bottom: 10px;
 }

 .dots {
     color: var(--soft-brown);
     font-size: 24px;
     margin-bottom: 20px;
 }

 .contact-header p {
     max-width: 500px;
     font-size: 16px;
     font-weight: 400;
     line-height: 1.5;
 }

 .contact-grid {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     padding: 80px 10%;
     background: var(--bg-light);
     gap: 40px;
 }

 .contact-item {
     text-align: center;
     padding: 20px;
     background: var(--white);
     border: 1px solid var(--border-color);
     transition: 0.3s;
 }

 .contact-item:hover {
     border-color: var(--soft-brown);
 }

 .contact-icon {
     font-size: 40px;
     color: var(--gold-brown);
     /* Gold-brown icon-ka */
     margin-bottom: 20px;
 }

 .contact-item h4 {
     font-size: 20px;
     margin-bottom: 15px;
     text-transform: uppercase;
     color: var(--text-main);
 }

 .contact-item p {
     color: var(--text-muted);
     font-size: 14px;
     line-height: 1.8;
     margin-bottom: 15px;
 }

 .contact-value {
     color: var(--soft-brown);
     font-weight: 700;
     font-size: 15px;
 }
 /* formka section */
 .booking-card {
     background: var(--white);
     width: 100%;
     max-width: 700px;
     margin: 30px auto;
     padding: 60px;
     border-radius: 20px;
     box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
     color: var(--text-main);
 }

 .booking-card h2 {
     font-size: 36px;
     font-weight: 700;
     margin-bottom: 40px;
     text-align: center;
     color: var(--bg-dark-coffee);
     letter-spacing: -1px;
 }

 .form-group {
     display: flex;
     flex-direction: column;
     gap: 25px;
 }

 .row {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 20px;
 }

 label {
     display: block;
     font-size: 15px;
     font-weight: 600;
     margin-bottom: 10px;
     color: var(--bg-dark-coffee);
 }

 input,
 select {
     width: 100%;
     padding: 18px 20px;
     border: 2px solid var(--border-color);
     border-radius: 10px;
     font-family: 'Poppins', sans-serif;
     font-size: 16px;
     outline: none;
     transition: all 0.3s ease;
     background-color: #fff;
     box-sizing: border-box;
 }

 input:focus,
 select:focus {
     border-color: var(--soft-brown);
     box-shadow: 0 0 12px rgba(188, 152, 106, 0.2);
 }

 .price-box {
     background-color: #fffcf0;
     padding: 25px;
     text-align: center;
     border-radius: 12px;
     margin: 35px 0;
     border: 2px dashed var(--soft-brown);
     font-weight: 700;
     color: var(--soft-brown);
     font-size: 28px;
     display: block;
 }

 .btn-submit {
     background-color: var(--bg-dark-coffee);
     color: var(--white);
     width: 100%;
     padding: 20px;
     border: none;
     border-radius: 10px;
     font-weight: 600;
     text-transform: uppercase;
     cursor: pointer;
     transition: all 0.3s ease;
     letter-spacing: 2px;
     font-size: 18px;
 }

 .btn-submit:hover {
     background-color: #4a3c3c;
     transform: translateY(-2px);
     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
 }

 #userInfo {
     margin-top: 20px;
     font-size: 16px;
     line-height: 1.6;
 }
/* service section */
 .services-wrapper {
     display: flex;
     background-color: #332929;
     min-height: 500px;
     align-items: stretch;
     overflow: hidden;
 }

 .services-image {
     flex: 1;
 }

 .services-image img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .services-content {
     flex: 1.5;
     padding: 60px 80px;
     color: white;
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 .services-text h2 {
     font-size: 2.2rem;
     font-family: 'Playfair Display', serif;
     margin-bottom: 15px;
 }

 .services-text p {
     color: #bbb;
     margin-bottom: 40px;
     line-height: 1.6;
 }

 .services-list {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 20px;
 }

 .s-item {
     text-align: left;
 }

 .s-icon {
     font-size: 30px;
     color: #bc986a;
     display: block;
     margin-bottom: 10px;
 }

 .s-info h3 {
     font-size: 1.1rem;
     margin-bottom: 5px;
 }

 .s-info p {
     font-size: 0.8rem;
     color: #ccc;
 }



 @media (max-width: 576px) {
     .hero-content h1 {
         font-size: 2.2rem;
     }

     .hero-content p br {
         display: none;
     }

     .row {
         grid-template-columns: 1fr;
     }

     .booking-card {
         padding: 35px 20px;
     }

     .booking-card h2 {
         font-size: 28px;
     }

     .contact-grid {
         grid-template-columns: 1fr;
     }

     .services-wrapper {
         flex-direction: column;
     }

     .services-image {
         height: 300px;
     }

     .services-content {
         padding: 40px 20px;
     }

     .services-text h2 {
         font-size: 1.8rem;
     }

     .services-text p {
         font-size: 0.9rem;
     }

     .services-list {
         grid-template-columns: 1fr;
         gap: 10px;
     }

     .s-icon {
         font-size: 25px;
     }

     .s-info h3 {
         font-size: 1rem;
     }

     .s-info p {
         font-size: 0.75rem;
     }
 }

 @media (max-width: 577px) {
     .hero-content h1 {
         font-size: 2.5rem;
     }

     .contact-grid {
         grid-template-columns: 1fr;
     }

     .services-list {
         grid-template-columns: repeat(2, 1fr);
         gap: 15px;
     }
 }

 @media (max-width: 993px) {

     .hero-content h1 {
         font-size: 3rem;
     }

     .contact-grid {
         grid-template-columns: 1fr;
     }

     .services-wrapper {
         flex-direction: column;
     }

     .services-list {
         grid-template-columns: repeat(2, 1fr);
         gap: 15px;
     }
 }