  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
      background-color: var(--white);
      color: var(--text-main);
      overflow-x: hidden;
  }

  /* hero secrion*/
  .hero-hotelux {
      height: 100vh;
      background: linear-gradient(var(--dark-overlay), var(--dark-overlay)),
          url('./Assets/img/room\ page.jpg');
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      padding-left: 8%;
  }

  .hero-content {
      max-width: 900px;
      color: var(--white);
  }

  .stay-style {
      font-size: 14px;
      letter-spacing: 4px;
      margin-bottom: 15px;
      display: block;
      color: var(--white);
  }

  .hero-content h2 {
      font-size: 50px;
      line-height: 1.1;
      margin-bottom: 25px;
  }

  .highlight {
      color: var(--soft-brown);
  }

  .hero-desc {
      font-size: 17px;
      line-height: 1.8;
      margin-bottom: 45px;
      max-width: 650px;
      color: rgba(255, 255, 255, 0.9);
  }

  .hero-footer-row {
      display: flex;
      align-items: center;
      gap: 30px;
  }

  .discover-btn {
      background-color: var(--soft-brown);
      color: var(--white);
      border: none;
      padding: 18px 45px;
      font-weight: 600;
      cursor: pointer;
      transition: 0.3s;
      text-transform: uppercase;
      letter-spacing: 1px;
  }

  .discover-btn:hover {
      background-color: var(--gold-hover);
  }

  .rating-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .rating-box .stars {
      color: var(--soft-brown);
      font-size: 18px;
      letter-spacing: 2px;
      line-height: 1;
  }

  .rating-box .count {
      display: block;
      font-size: 14px;
      margin-top: 5px;
      color: var(--white);
  }


  /* room section */

  .container {
      width: 90%;
      margin: 0 auto;
      padding-top: 80px;
  }

  .rooms-section {
      background-color: var(--bg-light);
  }

  .section-title {
      margin: 50px 0;
      text-align: left;
  }

  .section-title h2 {
      font-size: 2.5rem;
      color: var(--text-main);
  }

  .section-title p {
      color: var(--text-light);
      margin-top: 5px;
  }

  .rooms-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
  }

  .room-card {
      background: #fff;
      border-radius: 4px;
      overflow: hidden;
      transition: transform 0.3s ease;
  }

  .room-card:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  }

  .room-img-container img {
      width: 100%;
      height: 220px;
      object-fit: cover;
  }

  .room-info {
      padding: 20px;
  }

  .room-info h3 {
      font-size: 1.25rem;
      margin-bottom: 10px;
      color: var(--text-main);
  }

  .room-info p {
      font-size: 0.85rem;
      color: #666;
      line-height: 1.6;
      margin-bottom: 20px;
  }

  /* Price and Button  */
  .room-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid var(--border-color);
      padding-top: 15px;
  }

  .price-tag {
      display: flex;
      flex-direction: column;
  }

  .price-tag .amount {
      font-size: 1.2rem;
      font-weight: bold;
      color: var(--text-main);
  }

  .price-tag .per-night {
      font-size: 0.75rem;
      color: var(--text-gray);
  }

  .details-btn {
      background-color: #bc986a;
      color: white;
      border: none;
      padding: 8px 18px;
      cursor: pointer;
      font-size: 0.8rem;
      font-weight: 600;
      transition: background 0.3s;
  }

  .details-btn:hover {
      background-color: var(--gold-hover);
  }


  /* section service  */
  .services-wrapper {
      display: flex;
      background-color: #332929;
      min-height: 500px;
      overflow: hidden;
      margin-top: 50px;

  }

  .services-image {
      flex: 1;

  }

  .services-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .services-content {
      flex: 1.5;
      padding: 60px 80px;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .services-text h2 {
      font-size: 2.2rem;
      font-family: 'Playfair Display', serif;
      margin-bottom: 15px;
  }

  .services-text p {
      color: #bbb;
      margin-bottom: 40px;
      line-height: 1.6;
  }

  .services-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
  }

  .s-item {
      text-align: left;
  }

  .s-icon {
      font-size: 30px;
      color: #bc986a;
      display: block;
      margin-bottom: 10px;
  }

  .s-info h3 {
      font-size: 1.1rem;
      margin-bottom: 5px;
  }

  .s-info p {
      font-size: 0.8rem;
      color: #ccc;
  }

  
  @media (max-width: 576px) {

      /* Hero */
      .hero-content h1 {
          font-size: 35px;
      }

      .hero-content p br {
          display: none;
      }

      .hero-footer-row {
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
      }

      .rooms-grid,
      .services-grid {
          grid-template-columns: 1fr;
      }

      .rooms-header {
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;
      }

      .services-wrapper {
          flex-direction: column;
      }

      .services-image {
          height: 300px;
      }
  }

  @media (max-width: 577px) {

      .hero-content h1 {
          font-size: 2.5rem;
      }

      .rooms-grid {
          grid-template-columns: 1fr;
      }
  }

  @media (max-width: 993px) {

      .rooms-grid {
          grid-template-columns: repeat(2, 1fr);
      }

      .hero-content h1 {
          font-size: 55px;
      }

      .services-wrapper {
          flex-direction: column;
      }
  }